/* Polices importées*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Polices d'écritures*/
header, .pizza, .burger, .salad{
    font-family: 'Montserrat',sans-serif;
}
div > h2, #problem{
    font-family:'Poppins', sans-serif;
}

/* Tailles de polices */

div > a, .para1{
    font-size:24px;
    font-weight: bold;
}
.solved{
    font-size:34px;
}
.para1{
    font-weight: lighter;
}
h2{
    font-size:44px;
}

/* Menu de Navigation*/
li > a{
    text-decoration:none;
    color: black;
}
li{
    list-style: none;
    font-weight: bold;
}
.contact1{
    color:#FA4A0C;
}
.dropdown-item{
    background-color: white;
    color:#FA4A0C;
}
.dropdown-item:hover{
    color:white;
}
.nav-item{
    padding-right:2%;
    text-align: center;
}
.navbar-toggler{
    border:3px solid #FA4A0C;
}
.nav_contact:hover{
    color:rgb(85, 85, 85);
}

/* Menus*/
    /*Boutons*/
.btn{
    border:1px solid #FA4A0C;
    border-radius: 12px 12px;
    padding:8px 16px 8px 16px;
    background-color:#FA4A0C;
    text-decoration: none;
    color:white;
    transition: .5s;
}
.btn:hover{
    background-color:#E54107;
    border:1px solid #E54107;
}
.btn:checked{
    background-color:#E54107;
    border:1px solid #E54107;
}
    /*Dropdown*/
.dropdown-item:hover{
    background-color:#E54107;
    border:1px solid #E54107;
}
#dropdown_button, #basket_button{
    border:1px solid #FA4A0C;
    border-radius: 12px 12px;
    background-color:#FA4A0C;
    color:white;
}
.card-title{
    font-weight:bold;
}

/*position*/

body{
    margin:auto;
}
    /*position (menu de bord)*/
#navbarDropdown{
    color:#FA4A0C;
    border-radius: 2px 2px;
    background-color: white;
}
.full_nav{
    align-items: center;
}
.nav_appear{
    display:flex;
    margin: 0;
}

        /*button collapse*/
.tog_btn{
        display:grid;
}
.nav_contact:hover{
    color:rgb(85, 85, 85);
}
    /*position (menus)*/

.menu_notitle{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align:center;
}
#desserts_menu{
    padding-top:2%;
    padding-bottom:2%;
    margin-top:3%;
}
#burgers_menu, #salad_menu{
    padding-top:2%;
    padding-bottom:4%;
    margin-top:3%;
}
#pizza_menu{
    padding-top:4%;
    padding-bottom:4%;
}
.menu_title{
    width:100%;
    padding-bottom:2%;
}
#pizza_menu, #burgers_menu, #salad_menu, #desserts_menu{
    border-top:1px solid #FA4A0C;
}

    /*position(footer)*/
#bttop{
    text-decoration: none;
    font-size:1.1em;
    color:#FA4A0C;
}
.info_para{
    font-size:0.8em;
}
h3{
    text-align:center;
    padding: 2%;
    border: 3px solid #FA4A0C;
    border-radius: 8px 8px;
}
.list{
    font-weight: initial;
}
.hours_para{
    display:grid;
    gap:1em;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns:1fr;
}
.hours_para2{
    display:grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

/*présentation*/
.pizza, .burger, .salad{
    border: 4px solid #FA4A0C;
    border-radius: 8px 8px;
    padding:20px;
}
p > a{
    text-decoration:none;
    font-weight:bold;
    color : #FA4A0C;
}
p > a:hover{
    color:black;
}
.tiramisu, .tartelette, .cheesecake{
    border: 4px solid #FA4A0C;
    border-radius: 8px 8px;
    padding:20px;
}

/*dimensions images*/
.card-img-top{
    border-radius:6px 6px;
}

/*insertion images*/
.d-block{
    max-width: 100%;
    height:auto;
}
.card{
    border:none;
}
/*Animations*/
.p1:hover, .b1:hover, .s1:hover, .d1:hover{
    animation: slideLeft 1.1s;
} 
.p2:hover, .b2:hover, .s2:hover, .d2:hover{
    animation: slideUp 1.1s;
}
.p3:hover, .b3:hover, .s3:hover, .d3:hover{
    animation: slideRight 1.1s;
}